@keyframes fadeInUpAverage {
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUpAverage {
  backface-visibility: hidden;
  animation-name: fadeInUpAverage;
}
