.root {
  background: #191919;
  width: 100vw;
  height: 100vh;
}

.slider {
  height: 100vh;
}

.sliderList {
  padding: 12vh 0 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.slide {
  color: white;
  padding: 0 4vw;
  width: 68vw;
  height: 70vh;
  position: relative;
}
