.root {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 0 0;
}

.cell {
  min-height: 300px;
  max-height: 600px;
  max-width: 100%;
}

.visible {
  overflow: hidden;
  position: relative;
}

.curtain {
  background: #191919;
}
