.root {
  display: grid;
  grid-template-rows: 270px 270px;
  gap: 0 0;
}

.cell {
  height: 270px;
  width: 100%;
}

.visible {
  overflow: hidden;
  position: relative;
}

.curtain {
  background: #191919;
}

.curtainRoot {
  height: 540px;
}
