.root {
  --hover_duration: 0.5s;

  cursor: pointer;
  transition-property: color, opacity;
  transition-duration: 0.5s;
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: inherit;
}
