@keyframes slideOutLeftTitle {
from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(calc(-100vw + var(--page-dif-title)), 0, 0);
  }
}

.slideOutLeftTitle {
  animation-name: slideOutLeftTitle;
}
