@font-face {
  font-family: 'BebasNeueBold';
  src: url('assets/fonts/BebasNeueBold.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'geronimo';
  src: url('assets/fonts/geronimo.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Robotobold';
  src: url('assets/fonts/Robotobold.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

// @font-face {
//   font-family: 'DINNextLTPro';
//   src: url('./fonts/DINNextLTPro/DINNextLTPro-Light/font.woff2') format('woff2');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'DINNextLTPro';
//   src: url('./fonts/DINNextLTPro/DINNextLTPro-Bold/font.woff2') format('woff2');
//   font-weight: 700;
//   font-style: normal;
// }
