@font-face {
  font-family: 'BebasNeueBold';
  src: url('assets/fonts/BebasNeueBold.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geronimo';
  src: url('assets/fonts/geronimo.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphter';
  src: url('assets/fonts/Glyphter.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Robotobold';
  src: url('assets/fonts/Robotobold.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
