$main-black: #161616;
$main-green: #5ad78b;
$main-blue: #00c9ff;
$main-white: #fff;
$main-gray: #f5f5f5;
$main-dark-gray: #626262;
$desktop-width: 1920;
$laptop-width: 1440;
$tablet-width: 768;
$mobile-width: 480;

$media-small-desktop-width: 1140px;
$media-tablet-width-middle: 620px;
$media-tablet-width-albom: 1024px;
$media-mobile-width: 480px;
$media-mobile-large-width: 540px;
$media-tablet-width: 768px;
$media-laptop-small-width: 1240px;
$media-laptop-width: 1440px;
$max-desktop: 1920px;

$mobile-font-size: 10;
$tablet-font-size: 21.6;
$desktop-font-size: 13.7;

$ease: cubic-bezier(0.03, 0.15, 0.16, 0.99);
$easing: cubic-bezier(0.35, 0.07, 0.15, 1);
