.columns {
  display: flex;
  position: relative;
}

.mainTextRoot {
  position: absolute;
  user-select: none;
  pointer-events: none;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
