.root {
  width: 100vw;
  height: 100vh;
  background: #191919;
  color: white;
  position: relative;
}

.preview {
  width: 70vw;
  height: 60vh;
  position: relative;
}

.previewImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 99999999999;
}

.titles {
  margin-top: 40px;
  margin-left: 40px;
}

.description {
  position: absolute;
  right: 30px;
  bottom: 70px;
  width: 300px;
}

.backButton {
  margin-top: 40px;
  margin-left: 40px;
}
