.root {
  width: 34%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.columnImage {
  width: 150%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  position: relative;
}

.columnVideo {
  opacity: 0;
  width: 150%;
  height: 100%;
  object-fit: cover;
  right: -25%;
  top: 0;
  position: absolute;
}

.columnShirmaWrapper {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
}

.columnTextWrapper {
  position: absolute;
  z-index: 999;
  bottom: 30px;
  left: 30px;
}

.columnText {
  transition: transform 0.5s;
  transform: translate3d(0, 0, 0);
}

.root:hover {
  .columnText {
    transform: translate3d(0, -25%, 0);
  }
}

.shirma {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: black;
}
