.root {
  background: white;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.cellVideo {
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.hoverVideo {
  opacity: 1;
}

.cellImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.title {
  position: absolute;
  bottom: 30%;
  left: 10%;
  z-index: 2;
}

.subTitle {
  position: absolute;
  bottom: 25%;
  left: 10%;
  z-index: 2;
}
