.arrows {
  position: absolute;
  bottom: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none !important;
}

.butonsWrapper {
  width: 70vw;
  display: flex;
  justify-content: space-between;
}

.hideButton {
  visibility: hidden;
}

.slideCount {
  pointer-events: none !important;
  position: absolute;
  bottom: 145px;
  right: 19vw;
}
