.root {
  position: relative;
  overflow: hidden;
  user-select: none;
}

.slideList {
  display: flex;
}

.arrows {
  position: absolute;
  bottom: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.butonsWrapper {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.hideButton {
  visibility: hidden;
}

.slideCount {
  position: absolute;
  bottom: 170px;
  right: 200px;
}

.slide {
  opacity: 1;
}
